---
layout: default
permalink: /
---

{%- if site.posts.size > 0 -%}
<!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
<table class="posts">
    <tr>
        <th></th>
        <th></th>
    </tr> 
    {%- for post in site.posts -%}
    {%- assign date_format = site.minima.date_format | default: "%Y %b %d" -%}
    <tr>            
        <td class="posts__td"><span class="posts__date">{{ post.date | date: date_format }}</span></td>
        <td class="posts__td"><a class="posts__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>            
    </tr> 
    {%- endfor -%}
</table>
{%- endif -%}
