---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ "/assets/css/test.css" | relative_url }}">
    <title>{{ site.title }}</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="header__item buttons">
                <div class="buttons__item buttons__item_red"></div>
                <div class="buttons__item buttons__item_yellow"></div>
                <div class="buttons__item buttons__item_green"></div>
            </div>
            <div class="header__item name">123</div>
            <div class="header__item links">
                <section class="links__item">123</section>
            </div>
        </div>
        <div class="navigation">

        </div>
        <div class="post">

        </div>
        {{ content }}
    </div>    
</body>
</html>

